@import url("m21jFonts.css");

.btButton {
      font-family: BravuraTextM21j; 
      font-size: 40pt;
      position:relative;       
      width: 100px;
      height: 100px;
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
      border: 2px black dashed;
      background-color: #ffff99;
      text-align: center;
      display: inline-block;
      margin-right: 4px;
}
