@import url("m21jFonts.css");

.btButton {
      font-family: BravuraTextM21j; 
      font-size: 40pt;
      position:relative; 
      width: 50px;
      height: 70px;
      padding-top: 40px;
      padding-left: 20px;
      padding-right: 20px;
      border: 1px black dashed;
      background-color: #ffff99;
      text-align: center;
      display: inline-block;
      margin-right: 4px;
}
