# node
node_modules/
node_modules/grunt/package.json

# Build is not committed, just releases/
build/

# Python files
__pycache__
*.py[cod]

.buildpath

# emacs
.*~
*~

# vim
*.swp

# Eclipse
/.settings
.settings

# IDEA
.project
.pydevproject


# OSX
.DS_Store

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

soundfonts/*

# JetBrains
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/music21j.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/copilot

# VSCode
*.code-workspace
/.idea

# sometimes we symlink this in especially so that agents can port directly from music21
music21python
music21docs
# old name
music21base

# Agents
.agents/worktrees
.claude/worktrees
.claude/projects/-Users-*/
