# node
node_modules/
node_modules/grunt/package.json

# Build is not committed, just releases/
build/

# Built tests
tests/music21.tests.js
tests/music21.tests.js.map

# Python files
__pycache__
*.py[cod]

.buildpath

# emacs
.*~
*~

# vim
*.swp

# Eclipse
/.settings
.settings

# IDEA
.project
.pydevproject


# OSX
.DS_Store

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

soundfonts/*

node_modules/grunt-contrib-uglify/package.json

# PyCharm
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/music21j.iml
.idea/vcs.xml
.idea/workspace.xml
